# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Env
.env
.env.*
!.env.example
!.env.development
!.env.production

# macOS
.DS_Store
*.pem

# local metro
.metro-health-check*

# typescript
*.tsbuildinfo
